 @import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600&family=Quicksand:wght@500;700&family=Roboto+Serif:opsz,wght@8..144,600;8..144,700&display=swap');
 
.section3-li{
    font-family: 'Roboto Serif';
    font-weight: 700;
    color: #2F2F2F;
    font-size: clamp(1.2rem, 3.5vw, 2.5rem);
}

#section3-subtext{
    width: 50%;
}

#custom-bold{
    font-weight: 700;
}

#custom-color{
    color: #3B326B;
}


@media (min-width: 768px) {
    /* Tablet styles */

    #section3-subtext{
        width: 80%;
    }    
         #section3-list{
        list-style: disc !important;
         padding-left: 15px;
    } 
}


@media (max-width: 480px) {
    /* Mobile styles */

    #section3-subtext{
        width: 95%;
    }
    #section3-list{
        line-height: 70%;
        list-style: disc !important;
        padding-left: 15px;
    }
}