@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600&family=Quicksand:wght@500;700&family=Roboto+Serif:opsz,wght@8..144,600;8..144,700&display=swap');

        body {
            margin: 0;
            padding: 0;
            /* font-family: Arial, sans-serif; */
            background: linear-gradient(180deg, #B0A4F5 0%, #EDA197 100%);
            /* min-height: 100vh; */

            /* To disable pinch zoom gestures and and double-tap to zoom on iOS */
            touch-action: pan-x pan-y;
        }
        
        /* Navbar styles */
        .navbar {
            background-color: #ffffff; /* White background */
            padding: 20px 6% 20px 6%;
            /* padding-left: 6%; */
            /* padding-right: 6%; */
            position: fixed;
            width: 100%;
            /* height: 15%; */
            top: 0;
            z-index: 10;
            display: flex;
            justify-content: space-between;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
            align-items: center;
        }

        /* Logo styles */
        .logo {
            max-width: 250px;
            cursor: pointer;
        }
        
        .brand-btn{
            background-color: #776EA5; 
            color: #ffffff; 
            border: none;
            padding: 10px;
            border-radius: 11px;
            cursor: pointer;
            font-family: 'Quicksand';
            font-weight: 500;
        }

        /* Contact button styles */
        .contact-button {
            /* padding: 8px 16px; */
            font-size: 14px;
            position: relative;
            /* right: 10%; */
            cursor: pointer;
        }

        #header-section{
            /* margin-top: 75px; */
            margin-top: 70px;
            padding: 30px;
            padding-bottom: 15px;
            /* Transparent background */
            background-color: rgba(255, 255, 255, 0.048); 
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        #header-section h1{
            font-family: 'Quicksand';
            font-weight: 600;
            font-size: 50px;
            color: rgba(119, 110, 165, 1);
            line-height: 75px;
        }
        #header-section p{
            font-family: 'Quicksand';
            font-weight: 400;
            font-size: 20px;
            color: rgba(119, 110, 165, 1);
            line-height: 25px;
        }
        #header-section span{
            /* height: auto; */
            width: 86px;
            border: 5px solid rgba(204, 98, 123, 1);
            border-radius: 50px;
            /* margin-top: 12px;
            margin-bottom: 28px; */
        }

        #content{
            color: #000000;
            /* Transparent background */
            background-color: rgba(255, 255, 255, 0.048); 

        }
        #content p, #content li{
            font-family: 'Quicksand';
            font-size: 600;
            /* font-size: 30px; */
            font-size: 20px;
        }
        #content h1{
            font-family: 'Quicksand';
            font-size: 600;
            /* font-size: 60px; */
            font-size: 40px;
        }
        #content h2{
            font-family: 'Quicksand';
            font-size: 600;
            /* font-size: 50px; */
            font-size: 33px;
        }

        #delete-account-info{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: 'Quicksand';
            /* color: #746B76; */
            height: 80vh;
        }
        #delete-account-info p{
            /* width: 40%; */
            margin-bottom: 0;
            font-size: 20px;
            font-weight: 600;
            line-height: 36px;
            letter-spacing: 0em;
            text-align: center;
        }
        #delete-account-info li{
            
            font-size: 20px;
            font-weight: 500;
            line-height: 31px;
            letter-spacing: 0em;
            text-align: center;
        }
        #delete-account-info ul{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        #email-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
            /* margin-bottom: 30px; */
            margin-bottom: 20%;
        }

        #email-container div{
            width: fit-content;
            border-radius: 32px;
            padding: 30px 40px;
            background: #FFFFFF80;
            border: 2px solid #FFFFFF4D;
            box-shadow: 0px 4px 14px 0px #0000000D;
            /* background-color: #666666; */
        }

        #email-container div p{
            font-family: 'Quicksand';
            font-size: 24px;
            font-weight: 600;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
            padding: 0 30px;
            margin-bottom: 0;
        }

        #email-container div input{
            background: #FFFFFF;
            padding: 16px 24px 16px 24px;
            border-radius: 10px;
            border: none;
            outline: none;
            width: 100%;
            margin-top: 20px;
            margin-bottom: 25px;
        }
        #email-container div input::placeholder{
            font-family: 'Quicksand';
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: left;
            color: #B2B2B2;
        }

        #email-container div button{
            border-radius: 12px;
            border: none;
            outline: none;
            background: linear-gradient(90deg, #BBA3E4 0%, #E7A1A0 100%);
            cursor: pointer;
            font-family: 'Quicksand';
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: center;
            color: #FFFFFF;
            box-shadow: 0px 1px 0px 0px #0000001A;
            padding: 12px 49px;
        }
        
        /* footer{
            position: fixed;
            bottom: 0;
            right: 0;
            width: 100%;
        } */
        footer section{
            display: flex;
            /* flex-direction: row; */
            align-items: center;
            justify-content: space-between;
            padding: 20px 6%;
            padding-bottom: 12px;
        }
        
        a{
            text-decoration: none !important;
        }
        footer #copyright{
            /* font-family: 'Roboto Flex'; */
            color: rgba(109, 106, 93, 1);
            /* font-size: 30px; */
            font-size: 18px;
            font-weight: 300;
            padding: 0 17px 20px 17px;
        }
        
        #chatNow{
            display: none;
        }
        #contactUs{
            display: block;
        }

        /* Responsive styles for tablets */
        @media (min-width: 768px) and (max-width: 991px) {
            body{
                overflow-y: hidden;
            }
            #email-container{
                padding-bottom: 95vh;
                overflow-y: hidden;
            }
            #delete-account-info{
                display: flex;
                flex-direction: column;
                align-items: center;
                /* justify-content: center; */
            }
            #delete-account-info p{
                width: 80%;
            }
            #delete-account-info p, #delete-account-info li{
                text-align: center;
            }
            footer #copyright{
                /* font-size: 19px; */
                font-size: 9px;
            }
        }

        /* Media query for screens with a maximum width of 767px (typical mobile devices) */
        @media (max-width: 767px) {
            body{
                overflow-y: hidden;
            }
            .navbar{
                max-height: 65px;
            }
            .logo {
                max-width: 112px;
            }
            .contact-button{
                font-size: 9px;
                height: 24px;
                align-items: center;
                display: flex;
                border-radius: 6px;
                cursor: pointer;
            }
            #store-img-section{
                position: relative;
                bottom: 8px;
            }

            #header-section{
                margin-top: 55px;
                padding: 20px;
                padding-bottom: 5px;
            }
            #header-section h1{
                font-size: 25px;
                line-height: 30px;
            }
            #header-section p{
                font-size: 11px;
                line-height: 16px;
            }
            #header-section span{
                width: 50px;
                border: 3px solid rgba(204, 98, 123, 1);
                border-radius: 7px;
                margin-top: 8px;
                margin-bottom: 14px;
            }

            #delete-account-info{
                display: flex;
                flex-direction: column;
                align-items: center;
                /* justify-content: center; */
            }
            #delete-account-info p{
                width: 100%;
            }
            #delete-account-info p, #delete-account-info li{
                margin-bottom: 0;
                font-size: 14px;
                line-height: 16px;
                font-weight: 500;
                text-align: left;
            }
            #delete-account-info p{
                padding-left: 20px;
                font-weight: 600;
            }

            #email-container{
                margin: 15px;
                margin-bottom: 45vh;
                overflow-y: hidden;
            }
            #email-container div{
                padding: 15px 30px;
            }
            #email-container div p{
                font-size: 16px;
                padding: 0;
            }
            #email-container div input{
                padding: 12px 16px 12px 16px;
                margin-top: 15px;
                margin-bottom: 20px;
            }
            #email-container div input::placeholder{
                font-size: 12px;
                border-radius: 7.26px;
            }
            #email-container div button{
                font-size: 14px;
                font-weight: 200;
                width: 100%;
                cursor: pointer;
            }

            #content p, #content li, #content h1, #content h2{
                font-size: 12px;
                line-height: 15px;
            }
            #content p, #content li{
                font-weight: 400;
            }
            #content h1, #content h2{
                font-weight: 600;
            }
            
            footer section{
                padding: 20px;
            }
            footer #store img{
                height: 17px !important;
            }
            footer #copyright{
                /* font-size: 14px; */
                font-size: 7px;
                padding-bottom: 17px;
            }
            
            #chatNow{
                display: flex;
            }
            #contactUs{
                display: none;
            }
        
        }

        /* The popup form - hidden by default */
        .form-popup {
            overflow-y: scroll;
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */

            font-family: 'Roboto Flex';
            display: none;
            position: fixed;
            /* top: 70px;
            right: 15px;
            border: 3px solid #f1f1f1;
            z-index: 99; */
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 12;
            background-color: #EFEDFD;
            padding: 30px;
            border: 1px solid #ccc;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            width: max-content;
            height: min-content;
        }
        /* Add styles to the form container */
        .form-container {
            max-width: 530px;
            padding: 10px;
            padding-left: 50px;
            padding-right: 50px;
            background-color: #EFEDFD;
            display: flex;
            flex-direction: column;
        }
        #close-contactForm{
            position: relative;
            left: 10px;
            bottom: 10px;
            cursor: pointer;
        }
        .form-container h1{
            font-size: 40px;
            font-family: 'Roboto Serif';
            color: #776EA5;
            font-weight: 600;
        }
        .form-container .btn{
            font-family: 'Roboto Flex';
            font-size: 17px;
            font-weight: 600;
            margin-top: 20px;
            margin-bottom: 30px;
            background-color: #776EA5;
            color: #FFFFFF;
            padding: 16px;
            border-radius: 8px;
        }
        .form-container label{
            /* font-family: 'Roboto Flex'; */
            font-size: 12px;
            font-weight: 600;
            margin-top: 15px;
            letter-spacing: 0.5px;
            color: rgba(109, 106, 93, 1);
        }
        .form-container input, .form-container textarea{
            font-family: 'Roboto Flex';
            padding: 16px;
            border: 1px solid #fff;
            outline: none;
            border-radius: 8px;
            letter-spacing: 0.5px;
        }
        .form-container input::placeholder, .form-container textarea::placeholder{
            font-family: 'Roboto Flex';
            font-size: 16px;
            font-weight: 400;
            color: #666666;
        }
        .form-container input:focus, .form-container textarea:focus{
            border: 1px solid #776EA5;
        }
        #form-footer, #form-footer a{
            /* font-family: 'Roboto Flex'; */
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0em;
            text-align: center;
            text-decoration: none;
            color: #666666;
        }

        #overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.8);
            z-index: 11;
        }
        
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.6);
            z-index: -1;
        }

        #request:disabled {
            /* background: #cccccc;  */
            opacity: 0.5;
            cursor: not-allowed; 
        }

        /* Error alert */
        #error_popup_box {
            visibility:hidden;
            display:none;
            /* visibility:"visible";
            display:"block"; */
            position:fixed;
            left: 50%;
            /* top: 5%; */
            top: -50%; /* Start from the top of the screen */
            transform: translateX(-50%);
            border-radius:6px;
            background: #980E00B2;
            box-shadow: 0px 2px 7px 0px #0000000D;
            z-index: 25;
            padding: 8px 12px 8px 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            /* Transition effect for top property */
            transition: top 0.5s ease-in-out; 
        }
        #error_popup_box.active, #success_popup_box.active {
            top: 5%; /* Display it at 5% from the top when active */
        }
        #error_popup_box p#info_text, #success_popup_box p#info_text {
            margin-bottom: 0;
        }
        #error_popup_box #info_text{
            color: #fff;
            font-family: 'Quicksand';
            /* font-size: 12px; */
            /* font-weight: 500; */
            /* line-height: 15px; */
            font-size: 20px;
            font-weight: 600;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
            display: flex;
            align-items: center;
        }
        
        /* Success alert */
        #success_popup_box{
            visibility:hidden;
            display:none;
            /* visibility:"visible";
            display:"block"; */
            position:fixed;
            left: 50%;
            /* top: 5%; */
            top: -50%; /* Start from the top of the screen */
            transform: translateX(-50%);
            border-radius:6px;
            background: #fff;
            /* box-shadow: 0px 2px 7px 0px #0000000D; */
            box-shadow: 0px 4px 27px 0px #00000040;
            z-index: 25;
            padding: 8px 12px 8px 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            /* Transition effect for top property */
            transition: top 0.5s ease-in-out; 
        }
        #success_popup_box #info_text{
            font-family: 'Quicksand';
            font-size: 20px;
            font-weight: 600;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;

        }
        #success_popup_box #info_text svg{
            height: 30px;
            width: 30px;
        }

        /* Media query for screens with a maximum width of 767px (typical mobile devices) */
        @media (max-width: 767px) {
            #error_popup_box #info_text, #success_popup_box #info_text{
                font-size: 12px;
                font-weight: 500;
                line-height: 15px;
            }
            
            #success_popup_box #info_text svg{
                height: 15px;
                width: 15px;
            }
        }